html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 300;
    background-color:hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
}

footer {
    margin: 10% auto 10% auto;
    text-align: center;
}

h1 {
    color:hsl(0, 0%, 100%);
    font-weight: 600;
}

h2 {
    font-weight: 700;
    font-size: 11px;
    flex-grow: 2;
    color: hsl(178, 100%, 50%);
}

hr {
    width: 91.66%;
    border: none;
    height: 0.8px;
    color: #333;
    background-color: hsl(215, 32%, 27%);
}

img {
    border-radius: 10px;
    width: 100%;
}

.card {
    margin: 10% auto 10% auto;
}

.container {
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
}


.author {
    width: 100%;
    display: flex;
}

.details {
    display: flex;
}

.price, .time_limit {
    flex: 1 1 auto;
}

.price img {
    width: 10%;
}

.time_limit img {
    width: 15%;
}

.time_limit p {
    font-weight: 400;
}
